<p id="notice"><%= notice %></p>

<div class="card">
  <p>
    <strong>Nome:</strong>
    <%= @fase2.nome %>
  </p>

</div>

<%= link_to 'Editar', edit_fase2_path(@fase2), class: 'link-to-text-color' %> |
<%= link_to 'Voltar', fase2s_path, class: 'link-to-text-color' %>
