<h1>Editar vantagem</h1>

<%= render 'form', vantagem: @vantagem %>

<%= link_to 'Mostrar', @vantagem, class: 'link-to-text-color' %> |
<%= link_to 'Voltar', vantagems_path, class: 'link-to-text-color' %>
